@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a grocery shopping cart application. You can choose what you want to purchase and we will add it to your list!</p>

