@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    555 Seymour St<br />
    Vancouver, BC V6B 3H6<br />
    <abbr title="Phone">P:</abbr>
    (604) 434-5734
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@grocerycart.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@grocerycart.com</a>
</address>
